.courseList {    
    margin-left:20px;
    float: left;
    width: calc(100% - 450px);
    max-width: 1500px;
    min-height: 480px ;
}

table {
    width: 100% !important;
    height: 100% !important;
}

@media(max-width: 1100px) {
    .courseList {
        float: none;
        width: 80vw;
        margin: 30px 0;
    }
}