.categories {
  margin-top: 40px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.categories span{
  font-weight: 700;
  font-size: 1.2rem;
}


.courseItem {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
}